Group Name:

Members: Rachel Farrell, Anna Yaksich, Zhengbang Feng

rmf101@pitt.edu, ady13@pitt.edu, zhf24@pitt.edu

Best Neighborhood:

Metrics:

In [10]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [12]:
crime = pd.read_csv("crime.csv")
crime.head()

,Neighborhood,Sector #,Population (2010),#Part 1 (Major Crime) Reports (2010),#Part 2 Reports (2010),#Other Police Reports (2010),Part 1 Crime per 100 Persons (2010),Part 2 Crime per 100 Persons (2010),#Murder (2010),#Rape (2010),#Robbery (2010),#Agr. Assault (2010),#Burglary (2010),#Auto Theft (2010),#Drug Violations (2010)
0,Allegheny Center,3,933,71,141,46,7.6,15.1,0,2,9,5,8,5,31
1,Allegheny West,3,462,38,49,31,8.2,10.6,1,0,4,6,6,4,12
2,Allentown,6,"2,500",159,252,160,6.4,10.1,0,2,15,23,48,11,66
3,Arlington,7,"1,869",50,84,48,2.7,4.5,0,1,8,5,15,7,9
4,Arlington Heights,7,244,19,37,24,7.8,15.2,0,0,4,5,5,3,7

In [22]:
#Filter out neighborhoods that have murder
def filter_murder(x, threshold):
    if len(x) < threshold:
        return False
    else:
        return True

# use the custom function to filter out rows
murder = data.groupby("Neighborhood").filter(filter_murder, threshold=0)
# look at what neighborhoods are in the data now
murder.groupby("#Murder (2010)").count()

,Neighborhood,Sector #,Population (2010),#Part 1 (Major Crime) Reports (2010),#Part 2 Reports (2010),#Other Police Reports (2010),Part 1 Crime per 100 Persons (2010),Part 2 Crime per 100 Persons (2010),#Rape (2010),#Robbery (2010),#Agr. Assault (2010),#Burglary (2010),#Auto Theft (2010),#Drug Violations (2010)
#Murder (2010),,,,,,,,,,,,,,
0,62,62,62,62,62,62,62,62,62,62,62,62,62,62
1,17,17,17,17,17,17,17,17,17,17,17,17,17,17
2,7,7,7,7,7,7,7,7,7,7,7,7,7,7
3,2,2,2,2,2,2,2,2,2,2,2,2,2,2
4,1,1,1,1,1,1,1,1,1,1,1,1,1,1
5,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [30]:
def filter_func(crime, lower_bound):
    return (crime['#Murder (2010)'] < lower_bound)

murderFiltered = crime.groupby(crime.index).filter(filter_func, lower_bound=1)

murderFiltered.head(10)

,Neighborhood,Sector #,Population (2010),#Part 1 (Major Crime) Reports (2010),#Part 2 Reports (2010),#Other Police Reports (2010),Part 1 Crime per 100 Persons (2010),Part 2 Crime per 100 Persons (2010),#Murder (2010),#Rape (2010),#Robbery (2010),#Agr. Assault (2010),#Burglary (2010),#Auto Theft (2010),#Drug Violations (2010)
0,Allegheny Center,3,933,71,141,46,7.6,15.1,0,2,9,5,8,5,31
2,Allentown,6,"2,500",159,252,160,6.4,10.1,0,2,15,23,48,11,66
3,Arlington,7,"1,869",50,84,48,2.7,4.5,0,1,8,5,15,7,9
4,Arlington Heights,7,244,19,37,24,7.8,15.2,0,0,4,5,5,3,7
5,Banksville,5,"4,144",62,81,61,1.5,2.0,0,0,2,5,9,5,7
6,Bedford Dwellings,15,"1,202",42,80,38,3.5,6.7,0,0,7,8,8,2,25
9,Bloomfield,12,"8,442",453,371,296,5.4,4.4,0,3,45,20,70,36,42
10,Bluff,15,"6,600",105,191,132,1.6,2.9,0,0,12,11,14,14,37
11,Bon Air,6,808,26,55,38,3.2,6.8,0,0,1,4,7,1,11
12,Brighton Heights,2,"7,247",241,286,151,3.3,3.9,0,2,17,23,69,29,34

In [31]:
def filter_func(crime, lower_bound):
    return (crime['#Rape (2010)'] < lower_bound)

rapeFiltered = crime.groupby(crime.index).filter(filter_func, lower_bound=1)

rapeFiltered.head(10)

,Neighborhood,Sector #,Population (2010),#Part 1 (Major Crime) Reports (2010),#Part 2 Reports (2010),#Other Police Reports (2010),Part 1 Crime per 100 Persons (2010),Part 2 Crime per 100 Persons (2010),#Murder (2010),#Rape (2010),#Robbery (2010),#Agr. Assault (2010),#Burglary (2010),#Auto Theft (2010),#Drug Violations (2010)
1,Allegheny West,3,462,38,49,31,8.2,10.6,1,0,4,6,6,4,12
4,Arlington Heights,7,244,19,37,24,7.8,15.2,0,0,4,5,5,3,7
5,Banksville,5,"4,144",62,81,61,1.5,2.0,0,0,2,5,9,5,7
6,Bedford Dwellings,15,"1,202",42,80,38,3.5,6.7,0,0,7,8,8,2,25
8,Beltzhoover,6,"1,925",83,131,85,4.3,6.8,1,0,6,10,28,8,38
10,Bluff,15,"6,600",105,191,132,1.6,2.9,0,0,12,11,14,14,37
11,Bon Air,6,808,26,55,38,3.2,6.8,0,0,1,4,7,1,11
14,California-Kirkbride,3,761,64,89,74,8.4,11.7,1,0,1,6,12,9,48
20,Chartiers City,4,477,9,20,15,1.9,4.2,0,0,0,4,2,2,3
21,Chateau,3,11,16,24,48,145.5,218.2,0,0,1,0,0,2,14